torch==2.6.0 --index-url https://download.pytorch.org/whl/cu126
torchvision==0.19.0 --index-url https://download.pytorch.org/whl/cu126
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git
matplotlib
numpy
pillow
datasets
huggingface-hub
ipywidgets
ipykernel
jupyter
tqdm
scipy
scikit-image
opencv-python
ipympl
scikit-learn
pandas
monai
jupyterlab-widgets
